.App {
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(255, 244, 244);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.logo a {
  text-decoration: none;
  color: #000000;
}
.navContainer {
  width: 100%;
  /* background-color: rgb(134, 180, 248); */
  height: 10vh;
  display:flex;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}
.main-heading {
  font-size: 1.5rem;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  font-weight: bold;
}
.sub-heading {
  font-size: 1rem;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  color: rgb(98, 97, 99);
}

.loginSignup-wrapper {
  font-family:Georgia, 'Times New Roman', Times, serif; 
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.signup-btn {
  margin-right: 45px;
  border-width: 0px;
  border-radius: 5px;
  background: radial-gradient(159.32% 1145.87% at 100% 126.14%, #ffa600 0%, rgba(233, 85, 94, 0) 100%);
}
.login-btn {
  margin-right: 25px;
  border-width: 0px;
  border-radius: 5px;
  background: radial-gradient(159.32% 1145.87% at 100% 126.14%, #ffa600 0%, rgba(233, 85, 94, 0) 100%);
}
.signup-btn a {
  padding: 15px;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.login-btn a {
  padding: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.society-img {
  height: 500px;
}
/* section */
.section-container {
  margin-top: 40px;
  text-align: center;
  background-color: rgb(255, 245, 245);
}
.section-heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: #000000;
  position: relative;
  z-index: 2;
}

.design1 {
  position: absolute;
    width: 671.1800000000001px;
    height: 37.72px;
    background: #FF9243;
    border: 1px px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: matrix(-2.81, 3.58, 1.58, 2.81, 0, 0);
    z-index: 1;
}
.feature-info {
  height: 350px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
}
.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
img {
  height: 210px;
}
.btn {
  color: black;
  background: radial-gradient(159.32% 1145.87% at 100% 126.14%, #ffa600 0%, rgba(221, 243, 23, 0.884) 100%);
}
/* footer */
.footer-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.uabout li{
  text-align: start;
  font-size: 1rem;
}
.uabout {
  padding-left: 0px;
}
.uabout li a {
  text-decoration: none;
  color: gray;
}
.cocyright {
  text-align: center;
  font-weight: bold;
}

/* 404 page CSS */
#notfound {
  position: relative;
  height: 90vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 272px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound {
   max-width: 920px;
   width: 100%;
   line-height: 1.4;
   text-align: center;
   padding-left: 15px;
   padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  z-index: -1;
}
.notfound .notfound-404 h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(252, 230, 171);
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 46px;
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}
.notfound p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
}

.notfound a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-family: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffa600;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: rgb(10, 10, 10);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: white;
  border-color: rgb(245, 230, 202);
  color: #fda501;
}

@media only screen and (max-width:480px) {
  .notfound .notfound-404 h1 {
    font-size: 162px;
  }
  .notfound h2 {
    font-size: 26px;
  }
}